<section class="header-main-container row">
  <div class="col-3 header-image-container text-center">
    <img src="../../../assets/images/logo.svg" alt="logo star wars">
  </div>
  <div class="col-2 header-title-container text-center">
    <h1>App Star Wars</h1>
  </div>
</section>
<section class="header-bar-container">
  <div class="header-bar-border row">
    <div class="col-lg-2 col-3 text-center bar-border-navigation">
      <a routerLink="/home">Home</a>
    </div>
    <div class="col-lg-10 col-9 bar-border-location">
      <h2>{{routeName | titlecase}}</h2>
    </div>
  </div>
</section>