.header-main-container{
  background-color: #BABD42;
  .header-image-container img{
    width: 25%;
  }
  .header-title-container{
    padding-top: 1%;
  }
}
.header-bar-container{
  padding: 15px 10px;
  .header-bar-border{
    background-color: #82954B;
    padding: 4px 0;
    .bar-border-navigation{
      font-size: 24px;
      font-weight: bold;
    }
    .bar-border-location h2{
      padding-left: 3%;
      font-weight: normal;
      margin-top: -3px;
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .header-main-container .header-image-container img{
    width: 30%;
  }
  .header-bar-container .header-bar-border .bar-border-location h2{
    margin-top: -2px;
  }
}

@media screen and (max-width: 768px) {
  .header-bar-container .header-bar-border .bar-border-location h2{
    margin-top: 0;
  }
}

@media screen and (max-width: 650px) {
  .header-main-container .header-image-container img{
    width: 45%;
  }
  .header-bar-container .header-bar-border .bar-border-location{
    text-align: center;
  }
}