.header-main-container{
  background-color: #BABD42;
  .header-image-container img{
    width: 35%;
  }
  .header-title-container{
    padding-top: 1%;
  }
}
.header-bar-container{
  padding: 15px 10px;
  .header-bar-border{
    background-color: #82954B;
    padding: 4px 0;
    .bar-border-navigation{
      font-size: 24px;
      font-weight: bold;
    }
    .bar-border-location h2{
      padding-left: 3%;
      font-weight: normal;
      margin-top: -3px;
      margin-bottom: 0;
    }
  }
  .navbar-responsive-container{
    display: none;
    a{
      color: #82954B;
    }
  }
}

@media screen and (max-width: 767px) {
  .router-outlet-container{
    .router-outlet-navbar{
      display: none;
    }
    .router-outlet-content{
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .header-main-container .header-image-container img{
    width: 40%;
  }
  .header-bar-container .header-bar-border .bar-border-location h2{
    margin-top: -2px;
  }
}

@media screen and (max-width: 767px) {
  .header-main-container .header-title-container{
    padding-top: 2%;
  }
  .header-bar-container{
    .navbar-responsive-container{
      display: block;
    }
    .header-bar-border .bar-border-location h2{
      margin-top: 0px;
    }
  }
}

@media screen and (max-width: 650px) {
  .header-main-container .header-image-container img{
    width: 60%;
  }
  .header-bar-container .header-bar-border .bar-border-location{
    text-align: center;
  }
}