<section *ngIf="showLoader" class="loader-container">
  <app-loader></app-loader>
</section>
<form *ngIf="!showLoader" [formGroup]="starshipForm" (ngSubmit)="sendInfo()">
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Name</label><span>*</span>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('name')" formControlName="name" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('name')">Please insert name</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Model</label><span>*</span>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('starshipModel')" formControlName="starshipModel" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('starshipModel')">Please insert starship model</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Passengers</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('passengers')" formControlName="passengers" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('passengers')">Please insert only numbers</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Starship Class</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input formControlName="starshipClass" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Max Atmosphering Speed</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('maxAtmospheringSpeed')" formControlName="maxAtmospheringSpeed" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('maxAtmospheringSpeed')">Please insert only numbers</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Manufacturer</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('manufacturer')" formControlName="manufacturer" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('manufacturer')">The maximum characters allowed is 100</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Hyperdrive Rating</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('hyperdriveRating')" formControlName="hyperdriveRating" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('hyperdriveRating')">Please insert only numbers</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Crew</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('crew')" formControlName="crew" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('crew')">Please insert only numbers</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Length</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('starshipLength')" formControlName="starshipLength" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('starshipLength')">Please insert only numbers</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Cost in credits</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('costIncredits')" formControlName="costIncredits" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('costIncredits')">Please insert only numbers</small>
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Consumables</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input formControlName="consumables" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Cargo Capacity</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input [class.is-invalid]="validateInput('cargoCapacity')" formControlName="cargoCapacity" type="text" class="form-control">
      <small class="text-danger" *ngIf="validateInput('cargoCapacity')">Please insert only numbers</small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary-app" [disabled]="!starshipForm.valid">Save</button>
  <button type="button" class="btn btn-danger" *ngIf="buttonDelete" (click)="deleteStarship()">Delete</button>
</form>