<form [formGroup]="starshipForm" (ngSubmit)="sendInfo()">
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Name</label><span>*</span>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="name" formControlName="name" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Model</label><span>*</span>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="starshipModel" formControlName="starshipModel" type="text" class="form-control" placeholder="Model">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Passengers</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="passengers" formControlName="passengers" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Starship Class</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="starshipClass" formControlName="starshipClass" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Max Atmosphering Speed</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="maxAtmospheringSpeed" formControlName="maxAtmospheringSpeed" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Manufacturer</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="manufacturer" formControlName="manufacturer" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Hyperdrive Rating</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="hyperdriveRating" formControlName="hyperdriveRating" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Crew</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="crew" formControlName="crew" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Length</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="starshipLength" formControlName="starshipLength" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Cost in credits</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="costIncredits" formControlName="costIncredits" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Consumables</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="consumables" formControlName="consumables" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Cargo Capacity</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="cargoCapacity" formControlName="cargoCapacity" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <button type="submit" class="btn btn-primary-app">Save</button>
</form>