<form>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Name</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="name" [(ngModel)]="name" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Model</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="starshipModel" [(ngModel)]="starshipModel" type="text" class="form-control" placeholder="Model">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Passengers</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="passengers" [(ngModel)]="passengers" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Starship Class</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="starshipClass" [(ngModel)]="starshipClass" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Max Atmosphering Speed</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="maxAtmospheringSpeed" [(ngModel)]="maxAtmospheringSpeed" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Manufacturer</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="manufacturer" [(ngModel)]="manufacturer" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Hyperdrive Rating</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="hyperdriveRating" [(ngModel)]="hyperdriveRating" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Crew</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="crew" [(ngModel)]="crew" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Length</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="starshipLength" [(ngModel)]="starshipLength" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Cost in credits</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="costIncredits" [(ngModel)]="costIncredits" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Consumables</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="consumables" [(ngModel)]="consumables" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group-title col-lg-4">
      <label>Cargo Capacity</label>
    </div>
    <div class="form-group-input col-lg-8">
      <input name="cargoCapacity" [(ngModel)]="cargoCapacity" type="text" class="form-control" placeholder="Name">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>