<div class="table-main-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Movie</th>
        <th scope="col">Episode</th>
        <th scope="col">Director</th>
        <th scope="col">Release Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let film of films;let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{film.title}}</td>
        <td>{{film.episode_id}}</td>
        <td>{{film.director}}</td>
        <td>{{film.release_date}}</td>
        <td>
          <a [routerLink]="['starship/',film.episode_id]" class="btn">Let's go!</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>